@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-button {
        @apply px-4 py-2 rounded-xl border transition-all cursor-pointer text-center text-sm bg-white text-gray-700 border-gray-300 hover:bg-gray-100
    }
}