@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-button {
        @apply px-4 py-2 rounded-xl border transition-all cursor-pointer text-center text-sm bg-white text-gray-700 border-gray-300 hover:bg-gray-100
    }

    .custom-button-active {
        @apply bg-primary-500 text-white border-primary-500 hover:bg-primary-600
    }
}

select {
    -webkit-appearance: none; /* Remove the default arrow in WebKit-based browsers (Chrome, Safari) */
    -moz-appearance: none; /* Remove the default arrow in Firefox */
    appearance: none; /* Remove default arrow in most browsers */
    padding-right: 2.5rem; /* Ensure space for the custom arrow */
}

/* Custom Arrow styling */
select::-ms-expand {
    display: none; /* Remove default arrow in Internet Explorer */
}